body {
    background-color: lightgrey;
}
#title {
    text-align: center;
    color: black;
}

#webChat {
    float: left;
}

#canvas {
    background-color: lightblue;
    border: 2px solid black;
    height: 65%;
    width: 65%;
    display: block;
    margin: 0 auto;
}